altgraph==0.17.4
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
cloudscraper==1.2.71
docopt==0.6.2
h11==0.14.0
idna==3.4
outcome==1.3.0.post0
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
pipreqs==0.4.13
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
PySocks==1.7.1
pywin32-ctypes==0.2.2
requests==2.31.0
requests-toolbelt==1.0.0
selenium==4.14.0
setuptools==68.2.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
trio==0.22.2
trio-websocket==0.11.1
urllib3==2.0.7
websockets==12.0
wheel==0.41.2
wsproto==1.2.0
yarg==0.1.9
